body {
  height: 100%;
}

.sticky-footer {
  position: relative; 
  bottom: 0;
  width: 100%;
}

h1 {
  font-family: "Ubuntu";
  font-weight: bold ;
  font-style: italic;

}

blockquote, figcaption, p {
  font-family: monospace;
  font-size: x-large;
}


#history p {
  text-indent: 50px;
}

.background-image {
  background-image: url('https://ik.imagekit.io/nvnw6o7ew/Taslent/olive_-KgnwCHxG?updatedAt=1679204242151');
  background-size: cover;
  background-position: center;
  height: 85vh;
}

#header #basic-navbar-nav .nav-link {
  font-weight: bold;
  color: brown;
}