body {
  height: 100%;
}

.sticky-footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

h1 {
  font-family: "Ubuntu";
  font-weight: bold;
  font-style: italic;

}

blockquote,
figcaption,
p {
  font-family: monospace;
  font-size: x-large;
}


#history p {
  text-indent: 50px;
}

.background-image {
  background-image: url('https://ik.imagekit.io/nvnw6o7ew/Taslent/taslent-background_MoL6gOpqw.jpg?updatedAt=1679200829062');
  width: 100vw;
  height: 65vh; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #957a7ab7;
}

#header #basic-navbar-nav .nav-link {
  font-weight: bold;
  color: brown;
}

h4,
h5 {
  font-style: italic;
  text-decoration-line: underline;
}
