body {
  height: 100%;
}

.sticky-footer {

  position: relative;
  
  bottom: 0;
  width: 100%;
}

h1 {
  font-family: "Ubuntu";
  font-weight: bold ;
  font-style: italic;

}

blockquote, figcaption, p {
  font-family: monospace;
}


#history p {
  text-indent: 50px;
}